/*index.html*/
/*전원버튼*/
a{
  text-decoration: none;
}

body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
#menu a {
  text-decoration: none;
  color: #1E1E23;
  opacity:1;
  font-family: 'work sans', sans serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
}
#menu a:hover {
  opacity:0.5;
}
ul {
  padding: 0;
  list-style-type: none;
}

nav {
  background-color: #95c6e6;
  height: 65px;
  width: 100%;
  position: fixed;
  margin-top: -65px;
  z-index: 10;
}


#menuToggle {
  display: inline-block;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  width: auto;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 180px;
  height: 100vh;
  box-shadow: 0 0 10px #85888C; 
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #F5F6FA;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.logo{
  color: white;
  /* text-align: center; */
  display: inline;
  /* font-size: 30pt;
  font-weight: 530; */
}

.logo-box{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  margin: -5px -60px 0;
  width: auto;
  height: auto;
}

div.qw{
  width: 300px;
  height: 300px;
  background-color: aqua;
  margin: 2px 0;
  border: 2px solid black;
  border-radius: 5px;
}

main{
  margin-top: 65px;
  /* position: relative; */
}

a{
  text-decoration: none;
}

.dust{
  width: 100%;
  height: 180px;
  color: black;
  text-align: center;
  transition: color 1s;
}

#dustvalue{
  height: auto;
  display: inline-block;
  font-size: 35pt;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

#powerbutton{
  text-align: center;
}

.sw{
  display: flex;
  padding-top: 15px;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
  border-bottom: 1px solid #85888c9c;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

#swtext{
  font-size: 20pt;
  float: left;
  
}

#dustname{
  font-size: 15pt;
  font-weight: 600;
}

/* 파워스위치 */
input[type="checkbox"] {
  
  display: none;
}

.label__on-off {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 30px;
    background-color: #ed4956;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    /* left: 35%; */
    /* float: right; */
    text-align: justify;
}

.label__on-off > * {
    vertical-align: sub;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-size: 14px;
}

.label__on-off .marble {
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    width: 28px;
    height: 28px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.label__on-off .on {
    display: none;
    padding-left: 15px;
    
}

.label__on-off .off {
    padding-left: 40px;
    line-height: 25px;
}

.input__on-off:checked + .label__on-off {
    background-color: #0bba82;
}

.input__on-off:checked + .label__on-off .on {
    display: inline-block;
}

.input__on-off:checked + .label__on-off .off {
    display: none;
}

.input__on-off:checked + .label__on-off .marble {
    left: 40px;
}

.fa-smile{
  display: none;
  font-size: 30pt;
  color: #a3e7d6;
  
}

.fa-meh{
  display: none;
  font-size: 30pt;
  color: #77dd77;
  
}

.fa-frown-open{
  display: none;
  font-size: 30pt;
  color: #fd9a18;
}

.fa-tired{
  display: none;
  font-size: 30pt;
  color: red;
}

.fanspeed{
  font-size: 20pt;
}

#fan_speed{
  
  font-size: 20pt;
}

#left{
  font-size: 27pt;
  color: white;
  padding: 12px 20px;
  left: 10%;
}
h1{
  display: inline;
}
#navid{
  text-align: justify;
}
#logo2{
  font-size: 18pt;
  font-weight: 600;
  display: inline;
  margin: 10px -60px 0;
}
a{
  text-decoration: none;
  color: black;
}