<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>미세먼지 상세정보</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <script  ipt src="https://kit.fontawesome.com/e08131f43f.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="content">
    <nav role="navigation" id="navid">
      <i class="fas fa-chevron-left" id="left" onclick="history.back()"></i>
      <a href="{{ url_for('index') }}" class="logo"><div class="logo-box" id="logo2">공기청정기</div></a>
    </nav>
  </div>

  <main class="main-content"><!-- 실시간으로 먼지 데이터 업데이트 -->
    <a href="https://www.me.go.kr/mamo/web/index.do?menuId=16201">
      <div class="sw fanspeed">PM1.0 농도: <span id="dustvalue1"></span>μg/m³</div>
      <div class="sw fanspeed">PM2.5 농도: <span id="dustvalue2"></span>μg/m³</div>
      <div class="sw fanspeed">PM10 농도: <span id="dustvalue3"></span>μg/m³</div>
    </a>
  </main>

  <script src="{{url_for('static', filename = 'jquery.min.js')}}"></script>
  <script type=text/javascript src="{{url_for('static', filename = 'index.js')}}"></script>
</body>
</html>